.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* Боковое меню - начало */

.sidenav {
  background-color: #F6F6F4;
  width: 255px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 38px 33px 69px 21px;
  display: flex;
  flex-direction: column;
}

.sidenav__logo {
  width: 134px;
  height: 85px;
  margin-left: 23px;
}

.sidenav__menu {
  margin-top: 55px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidenav__account {
  margin-top: auto;
  text-align: center;
}

.sidenav__account-icon {
  width: 28px;
  height: 28px;
}

.sidenav__account-btn_wrap {
  margin-top: 12px;
}

/* Боковое меню - конец */


/* Вход - начало */

.entry__wrapper {
  height: 100vh;
  padding-right: 84px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entry {
  text-align: center;
  padding-bottom: 65px;
}

.entry__logo {
  width: 423px;
  height: 86px;
}

.entry__login-form {
  padding-top: 33px;
  font-size: 20px;
  line-height: 26px;
  margin: 0 auto;

  display: flex;
  max-width: 561px;
  gap: 18px;
  flex-direction: column;
}

.entry__login-input {
  padding: 19px 20px 18px 44px;
  border-radius: 14px;
  background-color: #F6F6F6;
}

.entry__login-input::placeholder {
  color: #14191A;
}

.entry__login-btn {
  background-color: #D9D9D9;
  border-radius: 14px;
  line-height: 32px;
  padding: 9px 52px 11px 52px;

  margin: 0 auto;
}

/* Вход - конец */


/* Главная - начало */

.main {
  padding: 64px 65px 67px 80px;
}

.main__title {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 24px;
}

.main__search {
  font-size: 20px;
  line-height: 24px;
  padding-left: 33px;
  padding-bottom: 3px;
  margin-bottom: 47px;
  border-bottom: #14191A 2px solid;
  width: 489px;

  background: url(./img/search-icon.svg) no-repeat 6px;
}

.main__search::placeholder {
  color: #14191A;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin-bottom: 70px;
}

.main__card {
  border-radius: 10px;
  position: relative;
  max-width: 348px;
  height: auto;
  box-shadow: 0px 2px 16px 0px rgba(20, 25, 26, 0.08);
  cursor: pointer;

}

.main__card-title {
  position: absolute;
  left: 24px;
  bottom: 16px;

  font-size: 24px;
  line-height: 32px;
  color: #FFF;

  max-width: 235px;
}

.main__deleted-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main__deleted {
  border-radius: 10px;
  background: #D1CCC7;

  line-height: 32px;
  font-size: 24px;
  color: #FFF;
  padding: 18px 35px;
}

.main__deleted-icon {
  background: url(./img/delete-icon.svg) no-repeat left top 2px;
  padding-left: 32px;
}

/* Главная - конец */


/* Статья - начало */

.article {
  padding: 51px 87px 44px 87px;
}

.article__title {
  margin-bottom: 22px;
}

.article__info_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.article__info {
  display: flex;
  gap: 40px;
}

.article__info_label {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.article__label_text {
  font-weight: 400;
}

.article__versions-btn {
  background: url(./img/versions-icon.svg) no-repeat left center;
  padding-left: 31px;
  font-size: 20px;
  line-height: 32px;
}

.article__text {
  font-size: 24px;
  line-height: 32px;

  margin-bottom: 18px;
}

.article__formulas {
  margin: 22px 0 28px 0;
}

.article__formulas_title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.article__formulas_title {
  font-size: 40px;
  line-height: 40px;
}

.article__add-formula {
  padding-left: 31px;
  background: url(./img/add-icon.svg) no-repeat left 10px;
  font-size: 28px;
  line-height: 32px;
}

.article__formulas-item {
  display: flex;
  gap: 18px;
  align-items: center;

  font-size: 28px;
  line-height: 32px;

  margin-bottom: 12px;
}

.article__formula_name::before {
  content: "- ";
}

.article__formula_edit-btn {
  height: 24px;
}

.article__comments_title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  
  margin-top: 24px;
  margin-bottom: 18px;
}

.article__comment_input-wrap {
  display: flex;
  margin-bottom: 18px;
  gap: 22px;
  align-items: end;
}

.article__comment_input {
  padding: 10px 21px;
  border-radius: 10px;
  background: #F6F6F6;
  resize: none;

  width: 100%;
  min-height: 105px;
  font-size: 16px;
}

.article__comment_input::placeholder {
  color: #14191A;
}

.article_comment_send-btn {
  padding-right: 28px;
  height: 32px;

  font-size: 24px;
  line-height: 32px;
  background: url(./img/send-message-icon.svg) no-repeat right center;
  margin-right: 13px;
}

.article__comments_list {
  padding-right: 180px;
}
.article__comment {
  margin-bottom: 10px;
  display: flex;
  gap: 14px;
}

.article__comment_logo {
  border-radius: 50%;
  width: 47px;
  height: 47px;
}

.article__comment_about {
  font-size: 14px;
  line-height: 32px;
  margin-right: 10px;
}

.article__comment_text {
  font-size: 18px;
  line-height: 32px;
}


/* Статья - конец */


/* Контроль версий - начало */

.versions {
  padding: 58px 85px;
}

.versions__title {
  margin-bottom: 60px;
}

.versions__list {
  max-width: 956px;
}

.versions__item {
  position: relative;
  margin-bottom: 10px;
  line-height: 32px;

  padding-left: 78px;
  background: url(./img/version-point-icon.svg) no-repeat left top;
  overflow: hidden;
}

.versions__item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #14191A;
  border-radius: 5px;
  left: 32px;
  top: 41px;
  
}

.versions__item_about {
  font-size: 24px;
  margin-bottom: 10px;
}

.versions__changes_item {
  font-size: 24px;
}


.versions__changes {
  margin-bottom: 10px;
}

.versions__changes_item::before {
  content: '- ';
}

.versions__author-wrap {
  display: flex;
  gap: 16px;
  align-items: center;
}

/* Контроль версий - конец */


/* Список статей - начало */

.art-list {
  padding: 64px 80px;
}

.art-list__title {
  margin-bottom: 36px;
}

.art-list__add-article-btn {
  font-size: 28px;
  line-height: 32px;
  padding-left: 31px;

  background: url(./img/add-icon.svg) no-repeat left 6px;

  margin-bottom: 22px;
}

.art-list__item {
  margin-bottom: 24px;
  padding-left: 78px;

  background: url(./img/version-point-icon.svg) no-repeat left 6px;
  max-width: 1111px;
}

.art-list__art-title {
  font-size: 32px;
  line-height: 38px;

  margin-bottom: 12px;
}

.art-list__item_info {
  display: flex;
  gap: 40px;
}

.art-list__info_label {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.art-list__label_text {
  font-weight: 400;
}

/* Список статей - конец */


/* Архив - начало */

.archive {
  padding: 64px 80px;
}

.archive__title {
  margin-bottom: 36px;
}

.archive__item {
  margin-bottom: 24px;
  padding-left: 78px;

  background: url(./img/version-point-icon.svg) no-repeat left 6px;

  display: flex;
  align-items: center;
  gap: 23px;
}

.archive__item-wrap {
  max-width: 1111px;
}

.archive__item-title {
  font-size: 32px;
  line-height: 38px;

  margin-bottom: 12px;
}

.archive__item_info {
  display: flex;
  gap: 40px;
}

.archive__info_label {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.archive__label_text {
  font-weight: 400;
}

.archive__restore-btn {
  font-size: 24px;
  line-height: 32px;
  padding-right: 28px;
  background: url(./img/restore-icon.svg) no-repeat right center;
}

/* Архив - конец */