@font-face {
	font-family: 'Grtsk Exa';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/GrtskExa-Regular.woff2') format('woff2');
}

body {
	font-family: 'Grtsk Exa';
	font-style: normal;
	font-size: 18px;
	font-weight: 400;
	color: #14191A;
	line-height: 20px;
}

html {
	background-image: url('../img/bg.png');
	background-repeat: repeat-y;
	background-size: 100% auto;
}

main {
  margin-left: 255px;
}

.title {
  font-size: 72px;
  line-height: 72px;
}

.popup {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;

	display: flex;
  justify-content: center;
  align-items: center;
}

input {
	border: 2px solid transparent;
}

textarea {
	border: 2px solid transparent;
}

input:focus {
	border: 2px solid #56595A;
}

textarea:focus {
	outline: none !important;
	border: 2px solid #56595A;
}
