.main {
  padding: 64px 65px 67px 80px;
}

.main__title {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 24px;
}

.main__search {
  font-size: 20px;
  line-height: 24px;
  padding-left: 33px;
  padding-bottom: 3px;
  margin-bottom: 47px;
  border-bottom: #14191A 2px solid;
  width: 489px;

  /* background: url(./img/search-icon.svg) no-repeat 6px; */
}

.main__search::placeholder {
  color: #14191A;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin-bottom: 70px;
}

.main__card {
  border-radius: 10px;
  position: relative;
  max-width: 348px;
  height: auto;
  box-shadow: 0px 2px 16px 0px rgba(20, 25, 26, 0.08);
  cursor: pointer;

  position: relative;
}

.main__card-title {
  position: absolute;
  left: 24px;
  bottom: 16px;

  font-size: 24px;
  line-height: 32px;
  color: #FFF;

  max-width: 235px;
}

.main__card_delete-btn {
  position: absolute;
  right: 16px;
  top: 16px;
}

.main__deleted-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main__deleted {
  border-radius: 10px;
  background: #D1CCC7;

  line-height: 32px;
  font-size: 24px;
  padding: 18px 35px;
}

.main__deleted-icon {
  /* background: url(./img/delete-icon.svg) no-repeat left top 2px; */
  padding-left: 32px;
  color: #FFF;
}