.entry__wrapper {
  height: 100vh;
  padding-right: 84px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entry {
  text-align: center;
  padding-bottom: 65px;
}

.entry__logo {
  width: 423px;
  height: 86px;
}

.entry__login-form {
  padding-top: 33px;
  font-size: 20px;
  line-height: 26px;
  margin: 0 auto;

  display: flex;
  max-width: 561px;
  gap: 18px;
  flex-direction: column;
}

.entry__login-input {
  padding: 19px 20px 18px 44px;
  border-radius: 14px;
  background-color: #F6F6F6;
}

.entry__login-input::placeholder {
  color: #14191A;
}

.entry__login-btn {
  background-color: #D9D9D9;
  border-radius: 14px;
  line-height: 32px;
  padding: 9px 52px 11px 52px;

  margin: 0 auto;
}

.entry__login-btn:hover {
  background: #C7C8C8;
}

.entry__login-btn:active {
  background: #9ACA3C;
}