.formula-editor {
  padding: 64px 80px;
}

.formula-editor__title {
  margin-bottom: 24px;
}

.main__search {
  margin-bottom: 36px;
}

.formula-editor__all-formulas_title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}

.formula-editor__all-formulas {
  margin-bottom: 22px;
  max-height: 310px;
  
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.formulas-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formula-editor__formula-name {
  width: auto;
}

.formulas__formula-wrap {
  display: flex;
}

.edit-formula-btn {
  margin-left: 12px;
}


.formula {
  margin-top: 36px;
  display: flex;
  gap: 100px;
}

.formula__title {
  font-size: 40px;
  line-height: 48px;
  width: 100%;
  margin-bottom: 23px;
}

.formula__container {
  max-width: 600px;
}

.formula__text {
  font-size: 16px;
  line-height: 32px;

  padding: 8px 40px;
  border-radius: 10px;
  background: #F6F6F6;
  margin-bottom: 22px;

  width: 100%;
}

.formula__preview-title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.edit_formula_preview {
  margin-bottom: 18px;
}

.formula__variables_item {
  font-size: 20px;
  line-height: 32px;
}

.formula__buttons_wrap {
  display: flex;
  justify-content: space-between;
}

.formula__save-bnt_wrap {
  text-align: end;
}

.formula__save-btn {
  font-size: 24px;
  line-height: 32px;

  margin-top: 16px;
  padding-right: 28px;
  /* background: url(./img/check-icon.svg) no-repeat right center; */
}

.formula__delete-btn {
  font-size: 24px;
  line-height: 32px;

  margin-top: 16px;
  margin-right: 20px;
}

.formula__cancel-btn {
  font-size: 24px;
  line-height: 32px;

  margin-top: 16px;
  margin-right: auto;
}


.formula__syntax {
  margin-top: 70px;
}

.formula__syntax_small {
  margin-top: 47px;
}

.formula__syntax_small-wrap {
  display: flex;
  gap: 100px;
}

.formula__syntax-title {
  font-size: 24px;
  line-height: 29px;

  margin-bottom: 14px;
}

.syntax__desc-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.formula__syntax_description {
  display: flex;
  gap: 50px;
  margin-bottom: 23px;
}

.syntax__desc-item {
  text-align: center;

  display: flex;
  align-items: flex-end;
}

.syntax__img {
  margin-bottom: 8px;
  max-height: 44px;
}

.syntax__desc-text {
  display: block;
  background: #E1EFC5;
  min-width: 77px;
  max-width: 250px;
}


.main__search {
  font-size: 20px;
  line-height: 24px;
  padding-left: 33px;
  padding-bottom: 3px;
  margin-bottom: 47px;
  border-bottom: #14191A 2px solid;
  width: 489px;

  /* background: url(./img/search-icon.svg) no-repeat 6px; */
}

.main__search::placeholder {
  color: #14191A;
}

.art-editor__new-formula-btn {
  font-size: 24px;
  line-height: 32px;
  padding-left: 31px;

  /* background: url(./img/add-icon.svg) no-repeat left 6px; */
}